
 :host {
   display: block;
   margin-top: 1rem;
 }

 mat-accordion {
  width: 100%
 }

 .noPosts {
   text-align: center;
}

mat-spinner {
  margin: auto;
}

.post-image {
  width: 100%;
  border: orangered;
  border-style: groove;
}

.post-image img {
  width: 100%;
}
