<app-header></app-header>

<div class="container">
  <mat-card>
    <mat-form-field>
      <mat-label>Post title</mat-label>
      <input matInput type="text" [(ngModel)]="enteredTitle" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Post message here...</mat-label>
      <textarea #postTextarea matInput [(ngModel)]="enteredMessage"></textarea>
    </mat-form-field>

    <p>
      <button mat-raised-button color="accent" (click)="onAddPost()">
        Save Post
      </button>
    </p>
  </mat-card>

  <p>
    <app-post-list></app-post-list>
  </p>
</div>
